__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
.eggs/
pip-log.txt
pip-delete-this-directory.txt
.env/
.venv/
venv/
env/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.local.yaml
.env
users.json



